.ana-sayfa-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../assets/home-banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}

p {
    position: absolute;
    top: 24%;
    color: white;
    white-space: nowrap;  /* KOD ACIKTIRIR TEK SATIRDA OLDU */
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}
.alttaki{
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}

button{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}
