.logo {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: auto;
}

body {
    background-color: orange;
}
.aciPizza {
    position: absolute;
    top: 20%;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    width: 100px;
    height: auto;

}


.fiyatRengi {
    top: 31%;
    color:black;
}
.navigation {
    position: absolute;
    display: flex;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-around;
    width: auto;
    height: auto;
}
.navigation ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  button{
    background-color: #FDC913;
    border-radius: 13px;
    border: none;
    padding: 5px;
    padding-top: 8px;
  }