

.background {
    display: flex;
    flex-direction: column;
    height: 100vh;


}
/* kod1 %20 kırmızı*/

.top-div {
    flex: 0 0 20%;  
    background-color: #CE2829;  
  }

  .bottom-div {
    flex: 1;  
    background-color: #FAF7F2;  
  }













  button{
    background-color: #FDC913;
    border-radius: 13px;
    border: none;
    padding: 5px;
    padding-top: 8px;
  }





